* {
    font-family: Lato;
}

.button {
    display: block;
    background-color: rgb(48, 197, 72);
    border: 0;
    border-radius: 0.25rem;
    font-size: 1em;
    color: #FFF;
    cursor: pointer;
    outline: none;
    padding: 0.875em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: background-color .5s ease;
    margin: 0 auto;
    width: 30%;
}

.button:hover {
    background-color: rgb(16, 138, 26);
    transition: background-color .5s ease;
}